@model IEnumerable<Hospital_Management_Application.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                Doctor Name
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @item.Doctor.Name
                </td>
                <td>
                    @item.Patient.FullName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>